// `and` bitwise operator
// $x & $y
// ---
// @param [number] $x: first value
// @param [number] $y: second value
// ---
// @return [number]
// ---
@function bw-and($x, $y) {
  $b: binary-length($x);
  $res: 0;

  @for $i from 0 through $b {
    $h: power(2, $i);
    $res: $res + $h * (floor($x / $h) % 2) * (floor($y / $h) % 2)
  }

  @return $res
}
