// `>>` bitwise operator
// $x >> $y
// ---
// @param [number] $x: first value
// @param [number] $y: second value
// ---
// @return [number]
// ---
@function bw-shift-right($x, $y) {
  @return floor($x / power(2, $y))
}
