/// Returns binary length
/// @access private
/// @param {Number} $value - value
/// @return {Number}
/// @require {function} decimal-to-binary
@function binary-length($value) {
  @return str-length(decimal-to-binary($value) + unquote(""));
}
