@include describe("The bitwise function") {
  @include it("should return correct results") {
    @include should(expect(bitwise(42 '&' 48)), to(be(32)));
    @include should(expect(bitwise(42 '|' 48)), to(be(58)));
    @include should(expect(bitwise(42 '^' 48)), to(be(26)));
    @include should(expect(bitwise('~' 42)), to(be(-43)));

    $a: bitwise(1 '|' 3 '|' 3 '|' 7);
    $_a: bitwise(1 '|' bitwise(3 '|' bitwise(3 '|' 7)));
    $__a: bitwise(bitwise(bitwise(1 '|' 3) '|' 3) '|' 7);

    @include should(expect($a), to(be(7)));

    $b: bitwise(1 '&' 3 '&' 3 '&' 7);
    @include should(expect($b), to(be(1)));

    $c: bitwise(1 '^' 3 '^' 3 '^' 7);
    @include should(expect($c), to(be(6)));

    $d: bitwise(1 '|' 3 '&' 3 '^' 7);
    @include should(expect($d), to(be(5)));

  }
}
